.contato {
    background-color: var(--branco);
    padding: 2rem 1rem;
}

.contato__titulo, .contato__texto {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo {
    font-size: 1.125rem;
    font-weight: 500;
}

.contato__texto {
    font-size: 1rem;
    font-weight: 300;
    margin: 1rem 0;
}

.contato__email {
    padding: 1rem;
    border: 1px solid var(--azul-escuro);
    border-radius: 24px;
    width: 90%;
    color: var(--azul-escuro);
}

.contato__email::placeholder {
    font-family: var(--font-principal);
    color: var(--azul-escuro);
    font-size: 16px;
    padding: 0 0 0 50px;
    background: url("../icon/Email.svg") no-repeat;
    background-position: 1rem;
}

@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato__descricao {
        width: 30%;
        margin-right: 3rem;
    }

    .contato__titulo {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .contato__texto {
        line-height: 1.2rem;
    }

    .contato__email {
        width: 30%;
    }

    .contato__email::placeholder {
        padding: 0 0 0 50px;
    }
}