hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco);
    padding: 1.5rem;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        /* display: grid;
        grid-template-columns: 25% 25% 25% 25%; */
        display: flex;
        justify-content: space-around;
    }

    .rodape__titulo {
        font-size: 1.5rem;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__titulo {
        font-size: 0.875rem;
        color: var(--cinza-claro);
        text-transform: uppercase;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 1rem 0;
    }

    .lista-rodape__link {
        text-decoration: none;
        color: var(--cinza);
        margin-left: .6rem;
    }
}

@media screen and (min-width: 1728px) {
    .rodape {
        padding: 3rem 0;
    }

    .lista-rodape {
        border-left: 1px solid var(--cinza-claro);
        padding-left: 2rem;
    }
}